body{
    background-color:black;
    font-family:fantasy;
    text-align: center;
    color:rgb(44, 243, 37);
    letter-spacing: 1px;
    
}
.one-div{
    padding-top: 90px;
    font-size: 40px;
    padding-bottom: 40px;
}
hr{
    border-color:rgb(44, 243, 37);
    height:3px;
    background-color:rgb(44, 243, 37); ;
}
.line-div{
    padding-top: 10px;
    position: relative;
    z-index: 1;
}
.ques-div{
    background-color:rgb(44, 243, 37);
    color:white;
    position: fixed;
    z-index: 2;
    top:160px;
    left:647px;
    font-size: 70px;
    width:80px;
}
.iscore-div{
    padding-top: 40px;
    
}
.hscore-div{
    
    color:rgb(255, 252, 49);
}
.guess-div{
    background-color:rgb(44, 243, 37);
    color:white;
    width:240px;
    height:max-content;
    margin: auto;
    font-size: 25px;
    letter-spacing:3px ;
    
}
.range-div{
    padding-top: 10px;
    letter-spacing: normal;
    font-size: 14px;
}
.input-div{
    padding-bottom: 10px;
}

button{
    padding-top: 10px;
    background-color:rgb(44, 243, 37);
    color:white;
    width:auto;
    border: none;
    margin: auto;
    font-family:fantasy;
    font-size: 20px;
}
input{
    background-color: black;
    border:rgb(44, 243, 37) solid 2px;
    height:45px;
    width:120px;
    outline:none;
    color:white;
    text-align: center;
    font-size: 30px;
}
.c-div{
    padding-bottom: 10px;
}
